# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
.env
backend/.env
backend/node_modules/
frontend/node_modules/
.env.local
.env.*.local

# Build and cache
dist/
build/
.tmp/
.cache/
.expo/
.expo-shared/
web-build/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Expo / React Native specific
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig
*.keystore

# Metro bundler cache
.expo/*
.expo-shared/*
.expo-web/

# Git
.git/
